main {
    margin-top: 60px;
    padding: 2rem;
}

main h3 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1rem;
}

.file {
    margin-bottom: 1rem;
    border-radius: 1.5rem;
    overflow: hidden;
    display: grid;
    grid-template-rows: 3rem 0fr;
}

.file h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 700;
    background-color: #D8DCDC;
    padding: 1rem;
    text-align: center;
}
.fileInhoud {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: 500;
    padding: 1rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
    background-color: #F9FAFA;
    min-height: 0;
    transition: all 0.5s ease;
    overflow: hidden;
}
.type {
    font-weight: 900;
}
.fileInhoud p {
    margin-top: 12px;
    line-height: 25px;

}
.fileInhoud p:nth-child(1) {
    margin-top: 0px;
}


.fileList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    transition: all 0.5s ease;
}

.file {
    transition: all 0.5s ease;
    min-width: 300px;
    width: fit-content;
    max-width: 400px;
}
