/* drie basisstijlregels om je te helpen */
:root {font-size: 100%;  /* zet je dit op 62.5%, dan is elke rem 10px waard, anders 16px */ }
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

/* hier komt jouw css */
body {
    display: flexbox;
}
h1 {
    text-align: center;
    justify-self: center;
    align-self: center;
    margin-top: 40%;
    font-size: 6rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: red;
}