/* drie basisstijlregels om je te helpen */
:root {font-size: 100%;  /* zet je dit op 62.5%, dan is elke rem 10px waard, anders 16px */ }
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

/* HEADER */

.RED {
    background-color: #D62929;
    color: #F4F4F4;
    padding: 2px 1rem 0 1rem;
}
h1 {
    font-size: 32px;
    top: 12px;
    right: 10px;
    translate: 0 0;
}
header, header nav {
    background-color: #FAFAFA;
}
header nav ul{
    margin-top: 0;
}

/* MAIN */
body {
    background-color: #FAFAFA;
}
main {
    padding: 90px 20px 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: scroll;
    overflow-x: visible;
}

.article {
    background-color: #FAFAFA;
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 150px 0fr;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 50%);
    transition: 0.3s ease grid-template-rows;
    margin: 0 10px 20px 10px;
    height: auto;
    animation-name: "";
    animation-duration: 1s;
    transition-delay: 0s;
    opacity: 0;
    transform: scale(1, 1);
    filter: brightness(1);
}
.article.active {
    animation-name: "FadeIn";
    animation-duration: 10s;
    opacity: 100%;
}

@keyframes bounceOpenOld {
        0% {
            scale: "";
        }
        20% {
            scale: 0.75;
            filter: brightness(0.75);
            box-shadow: 0px 5px 8px rgba(0, 0, 0, 50%);
        }
        40% {
            scale: 1.08;
            box-shadow: "";
        }
        60% {
            scale: 0.95;
        }
        80% {
            scale: 1.01;
        }
        100% {
            scale: "";
        }
    }
@keyframes bounceClose {
        0% {
            scale: "";
        }
        20% {
            scale: 0.75;
            filter: brightness(0.75);
            box-shadow: 0px 5px 8px rgba(0, 0, 0, 50%);
        }
        40% {
            scale: 1.08;
            box-shadow: "";
        }
        60% {
            scale: 0.95;
        }
        80% {
            scale: 1.01;
        }
        100% {
            scale: "";
        }
    }
@keyframes FadeIn {
        0% {
            opacity: 0;
            scale: 0;
            transform: scale(0.0, 0.0);
            translate: 0% 100%;
        }
        10% {
            opacity: 0;
        }
        20% {
            scale: 0.075;
            opacity: 20%;
            transform: scale(0.2, 0.5);
            
        }
        34% {
            translate: 0 -30%;
            opacity: 50%;
        }
        40% {
            scale: 10.08;
            box-shadow: "";
            
        }
        100% {
            transform: "";
            scale: "";
            opacity: 100%;
        }
    }
@keyframes JellyOpen {
        0% {
            scale: "";
            transform: "";
            translate: "";
        }        
        20% {
            scale: 0.8;
            transform: scale(0.5, 0.8);
            filter: brightness(0.75);
        }
        34% {
            translate: 0 -20%;
        }
        40% {
            scale: 1.08;
            box-shadow: "";
        }
        100% {
            scale: 1;
            transform: scale(1, 1);
            translate: 0 0;
            filter: brightness(1);
        }
    }
@keyframes FlingCloseHeavy {
        0% {
            scale: "";
            translate: 0% 0%;
        }
        10% {
            transform: scale(1, 1);
        }
        
        20% {
            scale: 0.75;
            transform: scale(0.8, 0.8);
            filter: brightness(0.75);
            translate: 0% -10%;
            border-radius: "";
        }
        34% {
            translate: 0% -70%;
            transform: scale(0.5, 0.6);
        }
        40% {
            scale: 1.08;
            box-shadow: "";
        }
        60% {
            transform: scale(1.1, 1.1);
        }
        80% {
            translate: 0% 4%;
        }
        100% {
            transform: scale(1, 1);
            scale: "";
        }
    }
@keyframes JellyCloseHeavy {
        0% {
            scale: "";
            transform: "";
            translate: "";
        }
        10% {
            transform: scale(1, 1);
        }
        20% {
            scale: 0.8;
            transform: scale(0.4, 0.8);
            filter: brightness(0.75);
            translate: 0% -10%;
            border-radius: "";
        }
        34% {
            translate: 0% -50%;
        }
        40% {
            scale: 1.12;
        }
        60% {
            transform: scale(1, 1);
        }
        80% {
            translate: 0% 1%;
        }
        100% {
            scale: 1;
            transform: scale(1, 1);
            translate: 0 0;
            filter: brightness(1);
        }
    }
@keyframes JellyCloseMedium {
        0% {
            scale: "";
            transform: "";
            translate: "";
        }
        10% {
            transform: scale(1, 1);
        }
        20% {
            scale: 0.8;
            transform: scale(0.4, 0.8);
            filter: brightness(0.75);
            translate: 0% -10%;
            border-radius: "";
        }
        34% {
            translate: 0% -30%;
        }
        40% {
            scale: 1.12;
        }
        60% {
            transform: scale(1, 1);
        }
        80% {
            translate: 0% 1%;
        }
        100% {
            scale: 1;
            transform: scale(1, 1);
            translate: 0 0;
            filter: brightness(1);
        }
    }
@keyframes JellyCloseLight {
        0% {
            scale: "";
            transform: "";
            translate: "";
        }
        10% {
            transform: scale(1, 1);
        }
        20% {
            scale: 0.8;
            transform: scale(0.4, 0.8);
            filter: brightness(0.75);
            translate: 0% -10%;
            border-radius: "";
        }
        34% {
            translate: 0% -10%;
        }
        40% {
            scale: 1.12;
        }
        60% {
            transform: scale(1, 1);
        }
        80% {
            translate: 0% 1%;
        }
        100% {
            scale: 1;
            transform: scale(1, 1);
            translate: 0 0;
            filter: brightness(1);
        }
    }

.article img {
    width: 150px;
    border-radius: 20px;
    grid-column: 1;
}

.article_info {
    margin-top: 10px;
    grid-column: 2;
    grid-row: 1;
    padding-left: 10px;
}
.article_info h2 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 8px;
    margin-right: 10px;
    line-height: 24px;
}
.article_info h3:nth-child(2) {
    margin-bottom: 8px;
}

@font-face {
    font-family: blackops;
    src: url(../BlackOpsOne-Regular.ttf);
}
@font-face {
    font-family: rakas;
    src: url(/Rakkas-Regular.ttf);
}
/* SPANS */
.GAGISTAN, .REPUBLIC {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1000;
    font-size: 14px;
}
.REPUBLIC, .PINNED, .UPDATE, .GOLDENTAG {
    padding: 2px 5px 2px 5px;
    font-weight: 700;
}
.REPUBLIC {
    background-color: #D62929;
    color: #F4F4F4;
}
.PINNED {
    background-color: rgb(0, 0, 198);
    color: white;
}
.UPDATE {
    background-color: #0064EC;
    color: white;
}
.AI {
    color: rgb(140, 140, 140);
    line-height: 18px;
}
.AI a, .article a{
    color: #990000;
}
.GOLDENTAG {
    background: linear-gradient(45deg, #FFC400, #FFCA1A, #FFD64C, #FFCA1A);
    color: rgb(255, 255, 255);
    font-weight: 700;
}
.GOLDENTAGBEFORE {
    font-weight: 700;
}
.BOLD {
    font-weight: 700;
}
.GOLDENTEXT {
    background: linear-gradient(45deg, #FFC400, #FFCA1A, #FFD64C, #FFCA1A);
    background-clip: text;
    color: transparent;
}
.EVENT_ARTICLE .article {
    box-shadow: 0px 0px 20px #00D604;
}
.MONTH_ARTICLE .article {
    box-shadow: 0px 0px 20px #FFC915;
}
.EVENT {
    padding: 3px 8px 2px 8px;
    background-color: #00D604;
    color: white;
    font-weight: 700;
}
.WARNING {
    color: red;
    font-weight: 900;
    padding: 2px 5px 2px 5px;
    margin-top: 10px;
}

.article_text {
    min-height: 0;
    grid-column: span 2;
    padding: 0 20px 20px 20px;
    padding-bottom: 0px;
}

.article_text h4 {
    font-size: 22.5;
    font-weight: 600;
    margin: 0 0 3px 0;
}
.article_text h4:nth-child(1) {
    margin-top: 10px;
}

.article_text p {
    margin-bottom: 14px;
    font-size: 15px;
    line-height: 18px;
}
.article_text p:nth-child(1) {
    margin-top: 10px;
}
.article_text p:last-child {
    margin-bottom: 0px;
}

@media (max-width: 1024px) {
    h1 {
        position: absolute;
        right: 8px;
        top: 15px;
    }
    header nav {
        padding-top: 60px;
    }
}

@media (min-width: 1025px) {
    h1 {
        margin-top: 14px;
        translate: 0 0px;
    }
    .RED {
        padding: 4px 1rem 0 1rem;
    }
    main {
        padding: 6rem 16vw 0 16vw;
    }
    .article {
        display: grid;
        overflow: hidden;
        grid-template-columns: 200px 1fr;
        grid-template-rows: 200px 0fr;
        border-radius: 20px;
        box-shadow: 0px 5px 8px rgba(0, 0, 0, 50%);
        transition: 0.3s ease grid-template-rows;
        margin-bottom: 40px;
        animation-name: "";
        animation-duration: 2s;
    }
    .article:hover {
        box-shadow: 0px 15px 20px rgba(0, 0, 0, 30%);
        filter: brightness(0.98);
        transition: 0.3s ease all;
        margin-bottom: 40px;
        animation-duration: 1s;
        filter: brightness(1);
    }
    .article:hover {
        box-shadow: 0px 15px 20px rgba(0, 0, 0, 30%);
    }

    @keyframes hover {
        0% {
            scale: "";
        }
        100% {
            scale: 1.1;
        }
    }
    @keyframes JellyOpen {
        0% {
            scale: "";
            transform: "";
            translate: 0% 0%;
            translate: "";
        }        
        20% {
            scale: 0.95;
            transform: scale(0.7, 0.8);
            filter: brightness(0.75);
        }
        34% {
            translate: 0 -15%;
        }
        40% {
            scale: 1.08;
            box-shadow: "";
        }
        100% {
            scale: 1;
            transform: scale(1, 1);
            translate: 0 0;
            filter: brightness(1);
        }
    }
    @keyframes JellyClose {
        0% {
            scale: "";
            translate: 0% 0%;
            transform: "";
            translate: "";
        }
        10% {
            transform: scale(1, 1);
        }
        20% {
            scale: 0.95;
            transform: scale(0.7, 0.8);
            filter: brightness(0.75);
            translate: 0% -10%;
            border-radius: "";
        }
        34% {
            translate: 0% -15%;
        }
        40% {
            scale: 1.12;
        }
        60% {
            transform: scale(1, 1);
        }
        80% {
            translate: 0% 1%;
        }
        100% {
            scale: 1;
            transform: scale(1, 1);
            translate: 0 0;
            filter: brightness(1);
        }
    }
    @keyframes BounceOpen {
        0% {
            scale: "";
        }
        25% {
            scale: 0.95;
            filter: brightness(0.9);
        }
        50% {
            scale: 1.08;
        }
        75% {
            scale: "";
        }
        100% {
            scale: "";
        }
    }
    @keyframes BounceClose {
        0% {
            scale: "";
        }
        25% {
            scale: 0.95;
            filter: brightness(0.9);
        }
        50% {
            scale: 1.08;
        }
        75% {
            scale: "";
        }
        100% {
            scale: "";
        }
    }
    @keyframes SpringOpen {
        0% {
            scale: "";
        }
        15% {
            scale: 0.9;
            filter: brightness(0.9);
        }
        35% {
            scale: 1.12;
        }
        65% {
            scale: 0.95;
        }
        85% {
            scale: 1.0;
        }
        100% {
            scale: "";
            box-shadow: "";
        }
    }
    @keyframes SpringClose {
        0% {
            scale: "";
        }
        20% {
            scale: 0.75;
            filter: brightness(0.75);
        }
        40% {
            scale: 1.08;
            box-shadow: "";
        }
        60% {
            scale: 0.95;
        }
        80% {
            scale: 1.01;
        }
        100% {
            scale: "";
        }
    }

    .article img {
        width: 200px;
        border-radius: 20px;
        grid-column: 1;
    }
    .article_info {
        margin-left: 10px;
    }
    .article_info h2 {
        font-size: 25px;
        margin-top: 10px;
    }
    .article_info h3 {
        margin-top: 10px;
        font-size: 20px;
    }
    .PINNED {
        font-size: 16px;
        padding: 4px 10px 4px 10px;
    }

    .GAGISTAN, .REPUBLIC {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 1000;
        font-size: 18px;
    }

    .article_text{
        padding: 0px 20px 20px 20px;
        padding-bottom: 0px;
    }

    .article_text h4 {
        font-size: 22.5px;
        margin: 20px 0 6px 0;
    }
    .article_text p {
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 20px;
    }
    .article_text p:nth-child(1) {
        margin-top: 20px;
    }
    .EVENT_ARTICLE .article:hover {
        box-shadow: 0px 0px 150px rgba(0, 214, 4, 100%);
    }
    .MONTH_ARTICLE .article:hover {
        box-shadow: 0px 0px 150px #EBB500;
    }
}