body {
    margin: 0;
    overflow-y: hidden;
    overflow-x: scroll;
}

#HTMLChunk {
    padding: 90px 20px 10px 20px;
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-top: 3rem;
    height: 100vh;
    transition: all 0.3s ease;
}

@font-face {
    font-family: blackops;
    src: url(./assets/BlackOpsOne-Regular.ttf);
}
@font-face {
    font-family: rakas;
    src: url(./assets/Rakkas-Regular.ttf);
}