header {
    background-color: transparent;
    box-shadow: none;
}

body {
    overflow: hidden;
}

@keyframes FadeInImg {
        0% {
            opacity: 0%;
            bottom: "";
            scale: 0;
            transform: scale(0.0, 0.0);
            translate: -50% 500px;
        }
        10% {
            opacity: 0;
        }
        20% {
            scale: 0.75;
            transform: scale(0.2, 0.5);   
        }
        40% {
            scale: 1.08;
        }
        100% {
            bottom: "";
            translate: -50% 0%;
            transform: "";
            scale: "";
            opacity: 100%;
            bottom: "";
        }
    }

@font-face {
    font-family: "baskerville";
    src: url(../LibreBaskerville-VariableFont_wght.ttf);
}

header nav, header {
    background-color: rgba(255, 255, 255, 0);
}

.lijn1, .lijn2, .lijn3 {
    background-color: #9E9E9E;
}
header h1 {
    color: #9E9E9E;
}
header nav ul li a {
    color: #9E9E9E;
}
main {
    background-image: linear-gradient(#ffffff, #dedede);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

main img {
    position: absolute;
    width: 100%;
    max-width: 60vh;
    left: 50%;
    translate: -50% 0%;
    bottom: 0;
    animation-name: "FadeInImg";
    animation-duration: 2s;
}

main h2 {
    color: #9E9E9E;
    position: absolute;
    left: 50%;
    translate: -50% 0%;
    bottom: 65vh;
    font-size: 14vw;
    font-family:"baskerville";
    animation-name: "FadeInImg";
    animation-duration: 2s;
    animation-delay: 0.4s;
    opacity: 0%;
    animation-fill-mode: forwards;
}

main h3 {
    color: #9E9E9E;
    position: absolute;
    left: 50%;
    translate: -50% 0%;
    bottom: 30px;
    font-size: 20px;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 100px;
    max-width: 100vw;
    text-align: center;
    font-family:"baskerville";
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.2);
    border: #9E9E9E 2px solid;
    animation-name: "FadeInImg";
    animation-duration: 2s;
    animation-delay: 1s;
    opacity: 0%;
    animation-fill-mode: forwards;
}

@media (min-width: 450px) {
    main h2 {
        bottom: 60vh;
    }
    main h3 {
        font-size: 30px;
    }
    header nav ul li a {
        color: #646464;
    }
}