header {
    background-color: transparent;
    box-shadow: none;
}

header nav {
    background-color: transparent;
}
main {
    background-image: linear-gradient(#E4E9E6, #ECEEEB);
    width: 100vw;
    height: 100vh;
}

main img {
    position: absolute;
    width: 100%;
    left: 50%;
    translate: -50% 0%;
    bottom: 0;
    border: 1px solid red;
}